* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 50vh;
    margin: 16px;
    gap: 16px;
    flex-wrap: wrap;
    background-color: black;
    display: flex;
    padding: 16px;
    color: #fff;
}


.aluno__nota{
    font-size: 120px;
}

.sombra-azul{
    background-color:  blue;
    font-family: monospace;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.sombra-vermelha{
    background-color: red;
    font-family: monospace;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
